body {
  margin: 0;
  padding: 0;
}
.todos {
  background: #f7ebee;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 16px 14px;
  border: 1.5px solid #5555e2;
  border-radius: 8px;
}

.form-input {
  font-size: 16px;
  padding: 5px 4px;
  background: #d1c3f3;
  outline: none;
  /* color: #0d1510; */
  border: 1px solid blue;
}
.addTodoForm {
  margin: 10px 15px;
}

.btn-light {
  background: #4338ca;
  outline: none;
  display: inline-block;
  color: white;
  border: none;
  padding: 5px 7px;
  border-radius: 4px;
  cursor: pointer;
}
.delete-btn {
  background: red;
  outline: none;
  display: inline-block;
  color: white;
  border: none;
  padding: 5px 7px;
  border-radius: 4px;
  cursor: pointer;
}

.ml-4 {
  margin-left: 10px;
}
.mr-5 {
  margin-right: 5px;
}

/* Todo  Item */
.todoList {
  list-style-type: none;
  padding: 0;
  margin: 15px 0 0 0;
}
.todoItem {
  display: flex;
  padding: 2px 5px;
}

.todo-text {
  width: 100%;
  margin-left: 5px;
}

/* For Form */

.form{
  width:400px;
  margin: 20px auto;
}

.plans{
    border: 1px solid black; 
  padding: 10px;
   margin: 5px 0}

   table {
    margin: 10px auto;
  }
  td,
  th {
    padding: 10px 18px;
    text-align: center;
    border: 1px solid #5f4751e0;
  }

  h6{text-align: center;}

  /* Navbar */
  .navbar {
    background-color: #31282c;
    color: white;
    padding: 0 12px;
  }
  .logo h1 {
    margin: 17px 10px;
  }
  
  .upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .lowwer {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 10px;
  }
  
  .lowwer span:last-child {
    margin-left: 20px;
  }
  .lowwer span:first-child {
    cursor: pointer;
  }
  
  .navbar-link {
    text-decoration: none;
    margin-left: 11px;
    padding: 5px 10px;
    border-radius: 3px;
    font-weight: 500;
    border: 1px solid white;
    color: white;
  }
  .active {
    background-color: white;
    color: #31282c;
  }